@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100;1,200&family=Space+Grotesk:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300;400;500&family=Poppins:ital,wght@0,100;0,300;0,400;1,100;1,200&family=Space+Grotesk:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300;400;500&family=Mina&family=Poppins:ital,wght@0,100;0,300;0,400;1,100;1,200&family=Space+Grotesk:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif;
    font-family: 'Space Grotesk', sans-serif; */
    font-family: 'Mina', sans-serif;
}

.heading {
    text-align: center;
    font-size: 2rem;
    color: #31393c;
}

#container {
    width: max-content;
    padding: 20px;
    border: 1px solid #2ec4b6;
    border-radius: 15px;
    background-color: #e5e5e5;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    border-radius: 15px;
}

input[type="text"] {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
}

input[type="button"] {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
    border: none;
    outline: none;
}

input[value="="] {
    background-color: #f77f00;
    width: 35%;
}

input[value="DEL"] {
    background-color: #d62828;
}

.operators {
    background-color: #FFBF69;
}

.input {
    border: none;
    outline: none;
    width: 100%;
}